<%- include("header") -%> 

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error culpa architecto, quo perferendis perspiciatis repellendus voluptate quia dolor! Iusto officia cupiditate vitae molestiae! Doloribus reiciendis necessitatibus, sunt eos quam odio.</p>

<%- include("footer") -%> 